@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes fadeOut {
  from {
    display: block;
    opacity: 100%;
  }
  to {
    display: none;
    opacity: 0%;
  }
}

:root {
  --primary: #2c2825;
  --primary-white: #f3f1ef;
  --secondary: #000000;
  --secondary-white: #fff;
  --secondary-blue: #cbeef2;
  --tri-gray-light: #d7d0c8;
  --tri-gray-medium: #94847a;
  --tri-gray-dark: #57504a;
  --tri-blue-light: #f4fafb;
  --tri-blue: #e7f5f7;
  --fadeIn: fadeIn 0.5s ease-in-out forwards;
  --fadeOut: fadeOut 0.5s ease forwards;
  --destructive: oklch(0.577 0.245 27.325);
  --radius: 0.65rem;
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-white: var(--primary-white);
  --color-secondary: var(--secondary);
  --color-secondary-white: var(--secondary-white);
  --color-secondary-blue: var(--secondary-blue);
  --color-tri-gray-light: var(--tri-gray-light);
  --color-tri-gray-medium: var(--tri-gray-medium);
  --color-tri-gray-dark: var(--tri-gray-dark);
  --color-tri-blue-light: var(--tri-blue-light);
  --color-tri-blue: var(--tri-blue);
  --color-destructive: var(--destructive);
  --font-sans: var(--font-inter);
  --font-reckless: var(--font-reckless);
  --font-arial: Arial, Helvetica, sans-serif;
  --animate-fadeIn: var(--fadeIn);
  --color-ring: var(--primary);
}

@layer base {
  body {
    font-family: var(--font-inter), Arial, Helvetica, sans-serif;
  }

  h1 {
    font-size: clamp(2rem, 6vw, 4rem);
  }

  h2 {
    font-size: clamp(1.5rem, 8cqw, 2.5rem);
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-reckless);
  }
}
